/* Cтили для тёмной темы, 
которые нужно переопределить принудительно */

.page.theme_dark {
  --logo-color: #DB00FF;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --display-res: inline;
}
