/* Cтили светлой темы, 
которые нужно переопределить принудительно */

.page.theme_light {
  --logo-color: #FFC2E6;
  --title-color: #353430;
  --subtitle-color: #353430;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --bg-color: #FFF1F7;
  --bg-image: url("../images/cover-image-light.png");
  --display-res: none;
}

/* Cтили светлой темы, 
если светлая тема указана в настройках пользователя */

@media (prefers-color-scheme: light) {
  :root {
    --logo-color: #FFC2E6;
    --title-color: #353430;
    --subtitle-color: #353430;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --bg-color: #FFF1F7;
    --bg-image: url("../images/cover-image-light.png");
    --display-res: none;
    }
}
  